*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 800px;
    height: 500px;
    border: 1px solid black;
    margin: 0 auto;
    margin-top: 40px;
}
.container img{
width: 100%;
height: 100%;
position: relative;
}
.pa-x,.pa-y{
    position: absolute;
    top: 40%;
    z-index: 1;
    font-size: 30px;
    background-color: grey;
    border-radius: 50%;
    cursor: pointer;
}
.pa-x{
    left: 23%;
}
.pa-y{
    right: 23%;
}
.pallini{
    display: flex;
    position: absolute;
    left: 47%;
    bottom: 20%;
    
}
.pallino{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: grey;
    margin-right: 5px;
}
.active{
    background-color: white;
}